@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f3f3f1; /* Light beige/grey background from screenshot */
  color: #1f2937;
}
